<div id="newUser">
  <h1>Register</h1>

  <form action="/user" method="post">
    <div class="field-wrap">
      <label>Username <span class="req">* </span></label>
      <input name="username" type="text" required />
    </div>

    <div class="field-wrap">
      <label>Email Address <span class="req">* </span></label>
      <input name="email" type="email" required />
    </div>

    <div class="field-wrap">
      <label>Password <span class="req">* </span></label>
      <input name="password" type="password">
    </div>

    <button type="submit" class="button"/>Register</button>
  </form>

</div>